// typography
body {
  font-family: "Open Sans", Arial, Tahoma, sans-serif;
}
p,
li {
  font-size: 18px;
  font-weight: 300;
  line-height: 1.3;
  color: #222;
}
p {
  margin-bottom: 1em;
}
strong {
  font-weight: 500;
}

h1,
h2,
h3,
h4 {
  font-family: Montserrat, "Helvetica Neue", Helvetica, sans-serif;
  font-weight: 500;
  margin: 0;
  color: #666;
  margin-bottom: 0.5em;

  @media (max-width: 767px) {
    margin-top: 0.5em;
  }
}

h1 {
  font-size: 3rem;

  @media (max-width: 1024px) {
    font-size: 2.5rem;
  }
  @media (max-width: 500px) {
    font-size: 2rem;
  }

}
h2 {
  font-size: 2rem;
  
  @media (max-width: 1024px) {
    font-size: 1.7rem;
  }
  @media (max-width: 500px) {
    font-size: 1.5rem;
  }
}
h3 {
  font-size: 1.7rem;

  @media (max-width: 1024px) {
    font-size: 1.5rem;
  }
  @media (max-width: 500px) {
    font-size: 1.3rem;
  }
}
h4 {
  font-size: 1.3rem;

  @media (max-width: 1024px) {
    font-size: 1.1rem;
  }
  @media (max-width: 500px) {
    font-size: 1rem;
  }
}

.sub-title {
  margin-top: -0.5rem;
  font-size: 1.2rem;
  font-style: italic;
  color: #666;

  @media (max-width: 1024px) {
    font-size: 1.1rem;
  }
}

.small-screen-only {
  display: none;
}
