<svg stroke="#ffffff" fill="none" stroke-width="2" viewBox="0 0 20 22" stroke-linecap="round" stroke-linejoin="round" version="1.1" xmlns="http://www.w3.org/2000/svg">
  <path d="M0,7 L9,0 L18,7 L18,18 C18,19.1045695 17.1045695,20 16,20 L2,20 C0.8954305,20 0,19.1045695 0,18 L0,7 Z" id="Path"></path>
  <polyline id="Path" points="6 20 6 10 12 10 12 20"></polyline>
</svg>