<svg stroke="#ffffff" fill="none" stroke-width="2" viewBox="0 0 20 20" stroke-linecap="round" stroke-linejoin="round" version="1.1" xmlns="http://www.w3.org/2000/svg">
  <rect id="Rectangle" x="0" y="0" width="18" height="18" rx="2"></rect>
  <circle id="Oval" cx="5.5" cy="5.5" r="1.5"></circle>
  <polyline id="Path" points="18 12 13 7 2 18"></polyline>
</svg>