{% macro ctas(info) %}
  <div class="ctas">
    {% for cta in info %}

      {# special case: a CTA may be used to trigger video modal #}
      {% if cta.isVideoTrigger %}
        {% if cta.isButton %}
          <a class="video-button js-modal-video" data-videoid={{cta.videoId}}>
            {{ cta.label}}
          </a>
        {% else %}
          <a class="video-link js-modal-video" data-videoid={{cta.videoId}}>
            {{ cta.label }}
          </a>
          {% endif%}

        {% else %}

          {# regular case: link is either a button or a link and either an internal or external link #}
          {% if cta.isButton %}
            {% if cta.isExternal %}
              <a class="cta-button {{ cta.buttonStyle }}" href="{{cta.url}}" target="_blank" rel="noopener noreferrer">{{ cta.label}}</a>
            {% else %}
              <a class="cta-button {{ cta.buttonStyle }}" href="{{cta.url}}">{{ cta.label}}</a>
            {% endif %}
          {% else %}
            {% if cta.isExternal %}
              <a class="cta-link" href="{{cta.url}}" target="_blank" rel="noopener noreferrer">{{ cta.label}}</a>
            {% else %}
              <a class="cta-link" href="{{cta.url}}">{{ cta.label}}</a>
            {% endif %}
          {% endif %}

          {% endif%}
        {% endfor %}
      </div>
    {% endmacro %}