.ctas {
  padding-top: 30px;
  a {
    margin-right: 30px;

    &:last-of-type {
      margin-right: 0;
    }
  }
}

.video-button {
  display: inline-block;
  padding: 12px 30px;
  margin-right: 30px;
  font-size: 14px;
  color: #333;
  border-width: 2px;
  border-style: solid;
  transition: background-color 0.3s ease-in-out;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  text-decoration: none;
  border-color: #333;
  background-color: transparent;
  cursor: pointer;

  &:hover {
    color: #fff;
    background-color: #333;
  }
}

.video-link {
  display: inline-block;
  padding: 12px 0;
  margin-right: 30px;
  font-size: 14px;
  font-weight: 500;
  transition: all 0.3s ease-in-out;
  letter-spacing: 0.1em;
  text-decoration: none;
  cursor: pointer;

  &:after {
    content: ">>>";
    padding-left: 10px;
    letter-spacing: 0.1em;
    transition: all 0.3s ease-in-out;
  }

  &:hover:after {
    letter-spacing: 1em;
  }
}

.cta-button {
  display: inline-block;
  padding: 12px 30px;
  margin-right: 30px;
  font-size: 14px;
  color: #333;
  border-width: 2px;
  border-style: solid;
  transition: background-color 0.3s ease-in-out;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  text-decoration: none;
  background-color: transparent;
  border-color: #333;

  &:hover {
    color: #fff;
    background-color: #333;
  }
}

.cta-link {
  display: inline-block;
  padding: 12px 0;
  margin-right: 30px;
  font-size: 18px;
  font-weight: 500;
  transition: all 0.3s ease-in-out;
  letter-spacing: 0.1em;
  text-decoration: none;
  cursor: pointer;

  &:after {
    content: ">>>";
    padding-left: 10px;
    letter-spacing: 0.1em;
    transition: all 0.3s ease-in-out;
  }

  &:hover:after {
    letter-spacing: 1em;
  }
}
