#main-menu {
  ul {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    list-style: none;

    li {
      display: flex;
      justify-content: flex-start;
      padding: 0 1em; 
    }

    a {
      text-decoration: none;
      display: block;
      font-size: 16px;
      font-weight: 500;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}

/* active nav links */
[pagename="home"] .home,
[pagename="other-page"] .other-page,
[pagename="blog"] .blog {
  color: #ccc;
  pointer-events: none;
  cursor: default;
}