/**
 * Page section Media
 */

 .section-media {
  padding-top: 0;
  padding-bottom: 0;

  &.paddingTop {
    padding-top: 40px;
  }

  &.paddingBottom {
    padding-bottom: 40px;
  }

  .content {
    padding: 50px 0;

    @media (max-width: 767px) {
      flex-direction: column-reverse;
      padding-top: 0;
    }

    > div {
      flex: 0 0 50%;

      button {
        display: block;
        width: 100%;
      }
    }

    h1 {
      margin-bottom: 30px;
    }

    p {
      margin: 0 0 20px;
    }
  }

  .icon-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    svg {
      width: 100%;
      height: 100%;
      max-width: 400px;
      max-height: 400px;
    }
  }
}
