.to-top {
  display: block;
  width: 50px;
  height: 50px;
  position: fixed;
  right: 20px;
  bottom: 20px;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.5s ease-in-out;

  * {
    pointer-events: none;
  }

  g {
    fill: transparent;
    stroke-width: 1px;
    stroke: #999;
  }
}

.is-scrolling .to-top {
  opacity: 1;
  pointer-events: auto;
}