<!DOCTYPE html>
<html>
  <head>
    {% include "sections/head.njk" %}
  </head>
</h1>

<body class="{{ bodyClasses }}">
  <div id="at-top"></div>
  {% include "sections/header.njk" %}

  <main>
    {% block body %}
      This is the default contents
    {% endblock %}
  </main>

  {% include "sections/footer.njk" %}
  {% include "partials/scripts.njk" %}

</body>
</html>